<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
    <mapper namespace="com.nmefc.hpcmmp.dao.TestMapper">

    <!--1. Reusable chunk of SQL that can be referenced by other statements-->
        <sql id="testTable">
            test_user
        </sql>
        <sql id="testColumn">
            user_Id,user_Name,password,phone
        </sql>

    <!--2.configure resultMap-->
    <resultMap id="testResultMap" type="com.nmefc.hpcmmp.entity.Test">
        <id property="userId" column="user_Id"></id>
        <result property="userName" column="user_Name"></result>
        <result property="password" column="password"></result>
        <result property="phone" column="phone"></result>
    </resultMap>
    <!--3. Sql statements-->
    <insert id="insert" parameterType="com.nmefc.hpcmmp.entity.Test">
        INSERT INTO
        <include refid="testTable"></include>
        <trim prefix="(" suffix=")" suffixOverrides=",">
            user_Name,password,
            <if test="phone != null">
                phone,
            </if>
        </trim>
        VALUES
        <trim prefix="(" suffix=")" suffixOverrides=",">
            #{userName},#{password},
            <if test="phone != null">
                #{phone},
            </if>
        </trim>
    </insert>

    <select id="selectAll" resultMap="testResultMap">
        SELECT
        <include refid="testColumn"></include>
        FROM
        <include refid="testTable"></include>
    </select>
    </mapper>